<div class="nested-fields">
  <div class="form-group">
    <%= f.label :encore %>
    <%= f.text_field :title, placeholder: "曲名を入力してください" %>
    <%= link_to_remove_association "remove encore", f %>
    
    </div>
</div>