<div id="schedule-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class='container'>
<div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <div class="page-header">
    <h3>マイカレンダー</h3>
  </div>



  <%= link_to 'スケジュール登録', new_schedule_path, class: 'btn btn-success' %>
  <div id="calendar"></div>
  </br>
</div>
</div>
</div>