<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h4>thanks</h4>
      <p>
        お問い合わせいただき、ありがとうございました。</br>
        数日中にご返信させていただきます。</br>
        少々お待ちください。</br>
      </p>
    </div>
  </div>
</div>