/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

  div {
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }

// ボタンのレイアウト
.reset {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

$color-1: #447fff;
$color-2: #b1f4cf;
$color-3: #efff3d;
$color-4: #ff5722;
$color-5: #da0080;
.button-circle {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient($color-1, $color-2);
  box-shadow: inset 0 3px 0 rgba(255,255,255,0.5), inset 0 -3px 0 rgba(0,0,0,0.2);
  transition: transform 0.3s;
  &:hover {
    transform: scale(-1,1);
  }
  &:active, &:focus {
  background: linear-gradient(to top, $color-1, $color-2);
  box-shadow: inset 0 -3px 0 rgba(255,255,255,0.5), inset 0 3px 0 rgba(0,0,0,0.2);
  }
  &.color2 {
    background: linear-gradient(#9890e3 0%, #b1f4cf 100%);
    &:active, &:focus {
      background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    }
  }
  &.color3 {
    background: linear-gradient($color-3, $color-4);
    &:active, &:focus {
      background: linear-gradient(to top, $color-3, $color-4);
    }
  }
  &.color4 {
    background: linear-gradient($color-4, $color-5);
    &:active, &:focus {
      background: linear-gradient(to top, $color-4, $color-5);
    }
  }
  &.color5 {
    background: linear-gradient($color-5, $color-1);
    &:active, &:focus {
      background: linear-gradient(to top, $color-5, $color-1);
    }
  }
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

// いいね機能のハートの色
.heart_red {
  color:#ff7f7f;
}
.heart_blue {
  color:#4169e1;
}

.box_btn {
  display: flex;
  justify-content: flex-end;
}

/*吹き出し*/
.balloon_l,
.balloon_r{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.balloon_r{
  justify-content:flex-end;
}
.faceicon img{
  width: 40px; /*任意のサイズ*/
  height: auto;
}
.balloon_r .faceicon{
  margin-left:25px;
}
.balloon_l .faceicon{
  margin-right:25px;
}
.balloon_r .faceicon{
  order:2 !important;
}
.says {
  max-width:500px; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 5px 15px 5px 15px;
  border-radius: 12px;
  background: #C4DFE6;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}
.says p{
  margin:8px 0 0 !important;
}
.says p:first-child{
  margin-top:0 !important;
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}
.balloon_l .says:after {
  left: -26px;
  border-right: 22px solid #C4DFE6;
}
.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #C4DFE6;
}

// スケジュール機能の日時の部分
.datetime-form {
  display: inline-block;
  width: auto;
}

