#setlist-header {
  background-image: image-url("setlist-header.jpg");
  height: 170px;
  margin-bottom: 40px;
  background-position: 50% 30%;
}

.setlist-body {
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #999;
	position: relative;
}
.setlist-body figure {
	margin-right: 20px;
	width: 100px;
	height: 100px;
}
.setlist-body figure img {
	min-width: 100px;
	max-width: 100%;
	vertical-align: top;
}

.setlist-menu {
  list-style: none;
}

.btn_setlist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #82aaaa;
  border: 1px solid #82aaaa;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 45px 0 45px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-decoration: none;
  transition-duration: 0.3s;
}
.btn_setlist:hover {
  background: #fff;
  color: #82aaaa;
}

.setlist-artist:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(130, 170, 170), transparent);
  background: linear-gradient(to right, rgb(130, 170, 170), transparent);
}

.setlist-artist a {
  color: #000000;
  font-weight: bold;
}

.setlist-artist a:hover {
  color: #808080;
}


.read-more2 {
  position: absolute;
  right: 20px;
  bottom: 0;
  a {
    display: inline-block;
    position: relative;
    color: #808080;
    &:after {
      font-family: "Font Awesome 5 Free";
      content: "\f061";
      margin-left: -10px;
      opacity: 0;
      vertical-align: middle;
      transition: margin .3s, opacity .3s;
    }
    &:hover:after {
      margin-left: 5px;
      opacity: 1;
    }
  }
}

.read-more2 a:hover {
  color: #808080;
}



.osare5-table {
 width: 100%;
 table-layout: fixed;
 border: none !important;
 border-collapse: separate;
 border-spacing: 4px 4px;
}


.osare5-table th {
  border: none !important;
  width: 120px;
}

.osare5-table tbody td {
  border: none !important;
  background-color: #f0fff0 !important;
  border-bottom: solid 2px #f9f9f9 !important;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

/* ヘッダー */
.osare5-table thead th {
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  background: #f6f0ff;
}

/* ボディ項目 */
.osare5-table tbody th {
  border-radius: 5px 5px 5px 5px;
  background: #fffcf0;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px #f9f9f9 !important;
  line-height: 4.5em;
}



/* ボディデータ */
.osare5-table tbody td {
 text-align: center;
}

.text-child {
  text-align: left;
  display: inline-block;
  list-style: none;
  padding-top: 17px;
}

.osare5-table thead th:first-child  {
  background: none;
}


/* 最終行のボーダーをなくす */
.osare5-table tbody tr:last-child th,
.osare5-table tbody tr:last-child td {
 border-bottom: none !important;
}

/* スマホ調整 */
@media (max-width: 767px) {
  .osare5-table thead th,
  .osare5-table tbody th {
      padding: 0;
  }
  .osare5-table tfoot td {
    padding: 0;
    font-size: 0.9em;
  }
.osare5-table tfoot td:nth-child(2) {
  font-size: 1em;
  }
}

/* フッター項目 */
.osare5-table tfoot th {
 background: none;
 line-height: 3em;
 font-weight: bold;
}


/* フッターデータ(フッターがあるときのみ有効) */
.osare5-hikaku tfoot td {
 border: none !important;
 background: none;
 text-align: center;
 font-weight: 600;
 font-size: 1em;
}
/* フッター（比較表と色つけたとき用） */
.osare5-table tfoot td {
  border-radius: 0 0 10px 10px;
  background: #f6f0ff;
  text-align: center;
}

.encore-child {
  text-align: left;
  display: inline-block;
  list-style: none;
  padding-top: 17px;
}

.osare5-table tfoot th {
  background: #f6f0ff;
  text-align: center;
}

.setlist-edit {
  text-align: right;
}

.container {
  margin-bottom: 50px;
}

h3:first-letter {
  font-size: 2em;
  color: #82aaaa;
}